@import '../../shared/config';

.main-menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;

    &__item {
        flex: 1 0 auto;
        color: $blue;
        border-right: 1px solid $blue;

        &:last-child {
            border-right: none;
        }

        @media (max-width: $maxMobileWidth) {
            width: 100%;
            border: none;
        }
    }

    &__link {
        display: block;
        width: 100%;
        text-decoration: none;
        text-align: center;
        padding: 10px 20px;

        &--active {
            color: #FFF;
            background-color: $blue;
            cursor: default;
        }
    }
}