@import '../../shared/config';

.unauthenticated-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__auth-error {
        text-align: center;
        color: $red;
    }
}

.button--auth {
    padding: 20px 30px;
}